.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(127, 255, 193);
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1c80bd;
}

.input-field {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button,
.logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.logout-button {
  background-color: #f44336;
}